* {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  
}
html{
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0px;
}
/*메인메뉴*/
#main-menu{
  padding-top: 200px;
  background-position: center;
  background-repeat : no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  text-align: center;
}
/* main-menu 오징어게임 로고 */
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: transparent;
}

/* main-menu 의 Brick Out 글씨 */
#main-menu p {
  text-align: center;
  color: #fff;
  font-size: 5em;
  letter-spacing: 8px;
  font-family: 'Press Start 2P';
  font-size: 40px;
  margin: 0;
  line-height: 0;
  animation: glitch1 2.5s infinite;
}

#main-menu p:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

#main-menu p:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

#startButton{
  margin: 100px auto auto auto;
  display: block;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e11880;
  border-radius: 0.6em;
  color: #e11880;
  cursor: pointer;
 
  font-size: 1rem;
  line-height: 1;
  
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; 
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#startButton:hover{
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #e11880 inset;
}
#intro{
  display: none;
  text-align: center;
}
#intro p:nth-child(1){
  transform: skew(-10deg);
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Gowun Batang', serif;
  color: white;
}

#intro p:nth-child(2){
  margin-top: 50px;
  font-size: 40px;
  font-family: 'Gowun Batang', serif;
  color: white ;
  cursor: pointer;
  transition: color .3s;
}

#intro p:nth-child(2):hover{
  margin-top: 50px;
  font-size: 40px;
  font-family: 'Gowun Batang', serif;
  color: #e11880 ;
}

#game-menu{
  padding-top: 15px;
  display: none;
  text-align: center;
  font-family: 'Gowun Batang', serif;
}

#menu1{
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
  width:33%;
  height: 100%;
  cursor: pointer;
  color: white;
  float: left;
}
#menu1:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
#menu1 p:nth-child(1){
  font-size: 20px;
  color: #e11880 ;
}
#menu1 p:nth-child(2){
  font-size: 30px;
  margin-bottom: 10px;
}



#menu2{
  cursor: pointer;
  -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
  color: white;
  height: 100%;
  width:33%;
  float: left;
}
#menu2:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
#menu2 p:nth-child(1){
  font-size: 20px;
  color: #e11880 ;
}
#menu2 p:nth-child(2){
  font-size: 30px;
  margin-bottom: 10px;
}

#menu3{
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
  color: white;
  height: 100%;
  width:33%;
  float: left;
}
#menu3:hover{
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

#menu3 p:nth-child(1){
  font-size: 20px;
  color: #e11880 ;
}
#menu3 p:nth-child(2){
  font-size: 30px;
  margin-bottom: 10px;
}

#game1{
  display: none;
}
#game2{
  display: none;
}
#game3{
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


/* ==========================이재호=========================== */
#left_screen {
  float: left;
  width: 70%; 
  height: 100%;
}
#right_screen {
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
}
#game3canvas {
  width: 100%;
  height: 100%;
}
#game3_notice {
  display: none;
  z-index: 1;
  position: absolute;
  width: 500px;
  height: 700px;
  top: 100px;
  left: 700px;
  background-color: #67f3da;
}
#game3_notice_title{
  background: none;
}
#game3_notice_title h1{
  background: none;
}
#game3_notice_description{
  background: none;
}
#game3_notice_description h3{
  background: none;
}
#game3_notice button {
  background-color: white;
}
#game3_startBlock {
  position: absolute;
  top: 30px;
  left: 88px;
  width: 400px;
  height: 70px;
  background-color: blue;
}
#game3_endBlock {
  position: absolute;
  top: 630px;
  left: 88px;
  width: 400px;
  height: 70px;
  background-color: red;
}
.game3_block {
  position: absolute;
  width: 80px;
  height: 60px;
  background-color: white;
}
#game3_block1L {
  top: 152px;
  left: 160px;
}
#game3_block2L {
  top: 274px;
  left: 160px;
}
#game3_block3L {
  top: 396px;
  left: 160px;
}
#game3_block4L {
  top: 518px;
  left: 160px;
}
#game3_block1R {
  top: 152px;
  right: 160px;
}
#game3_block2R {
  top: 274px;
  right: 160px;
}
#game3_block3R {
  top: 396px;
  right: 160px;
}
#game3_block4R {
  top: 518px;
  right: 160px;
}
#game3_replay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: skyblue;
}
#game3_life {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  background-color: violet;
}
#game3_character {
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 248px;
  width: 80px;
  height: 100px;
}

/* =========================고현규=========================== */

#game2>#canvas_for_game2{
  margin: auto;
  border-radius: 5px;
}










/* =========================고현규=========================== */

