* {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px auto;
}
html{
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0px;
}
#logo{
  display: block;
  margin: 150px auto 50px auto;
}

#main-menu p {
  text-align: center;
  color: #fff;
  font-size: 5em;
  letter-spacing: 8px;
  font-family: 'Press Start 2P';
  font-size: 40px;
  /*Create overlap*/
  
  margin: 0;
  line-height: 0;
  /*Animation*/
  
  animation: glitch1 2.5s infinite;
}

#main-menu p:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

#main-menu p:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
#main-menu{
  display: block;
  width: 960px;
  height: auto;
  background-color: black;
  text-align: center;
}

#startButton{
  margin: 100px auto auto auto;
  display: block;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e11880;
  border-radius: 0.6em;
  color: #e11880;
  cursor: pointer;
 
  font-size: 1rem;
  line-height: 1;
  
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; 
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
#startButton:hover{
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px #e11880 inset;
}
#intro{
  display: none;
  text-align: center;
}
#intro p:nth-child(1){
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Gowun Batang', serif;
  color: white;
}

#intro p:nth-child(2){
  margin-top: 50px;
  font-size: 40px;
  font-family: 'Gowun Batang', serif;
  color: white ;
  cursor: pointer;
  transition: color .3s;
}

#intro p:nth-child(2):hover{
  margin-top: 50px;
  font-size: 40px;
  font-family: 'Gowun Batang', serif;
  color: #e11880 ;
}
#game-menu{
  display: none;
}
#menu1{
 background-color: #67f3da;
  
}
#menu2{
background-color: #e11880;
}

#menu3{
background-color: #fff;
}

#game1{
  display: none;
}
#game2{
  display: none;
}
#game3{
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#left_screen {
  float: left;
  width: 70%; 
  height: 100%;
}
#right_screen {
  float: left;
  width: 30%;
  height: 100%;
}
#leftcanvas {
  width: 100%;
  height: 100%;
}
#rightcanvas {
  width: 100%;
  height: 100%;
}